# Environments
.vscode
.idea
venv
env

# Compilations
__pycache__
.pytest_cache
*.pyc

# Notebooks
.ipynb_checkpoints
notebooks/au_detection/data/mmi
notebooks/au_detection/data/images
notebooks/au_detection/images